<!DOCTYPE html>
<html>
<head>
    <title>Education Claims List</title>
</head>
<body>
    <h1>Education Claims List</h1>
    <h4>Claim - Impact Level - GDPR Compliance</h4>
    <ul>
        {% for claim in claims %}
            <li>{{ claim.claim_designation }} - {{ claim.impact }} - {{ claim.gdpr_compliance }}</li>
        {% empty %}
            <li>No claims available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_education_claim' %}">Add New Education Claim</a>
    <a href="{% url 'osp_claim_list' %}">Go to OSP Claims List</a>
</body>
</html>
